<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Weather Dashboard</h1>
    <h2>Current Data</h2>
    <p>Temperature: {{ latest_data.temperature }} °C</p>
    <p>Pressure: {{ latest_data.pressure }} hPa</p>
    <p>Humidity: {{ latest_data.humidity }} %</p>

    <h2>Temperature Chart</h2>
    <canvas id="temperatureChart"></canvas>

    <script>
        setInterval(() => {
            window.location.reload();
        }, 5000); // Odśwież co 5 sekund
    </script>
</body>
</html>
